<!DOCTYPE html>
<html ng-app="myRoster">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
    <link rel="stylesheet" href="styles/app.css">
</head>

<body>

    <div ng-controller="RosterController">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="roster">
                    <h1>My NFL Roster</h1>

                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>

                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/> \
                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>

                        <p> Player Name: </P>
                        <p>Player Number: </P>
                        <p> Player Position: </p>

                    </div>
                    <div ng-repeat="player in roster" class="player-card">
                        <img src=http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/>
                        <p> Player Name:{{player.name}} </P>
                        <p>Player Number:{{player.number}} </P>
                        <p> Player Position:{{player.position}} </p>
                    </div>

                </div>


            </div>
        </div>
        <div>
            <div class="panel panel-secondary">

                <div class="panel-body">
                    <div class="entry_form">
                        <h2>Add Player</h2>
                        <form ng-submit="addPlayer()" , role="form">
                            <div class="form-group">
                                <label for="playerName">Player Name:</label>
                                <input ng-model="playerName" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="playerNumber">Player Number:</label>
                                <input ng-model="playerNumber" class="form-control" id="playerNumber">
                            </div>
                            <div class="form-group">
                                <label for="playerNumber">Player Position:</label>
                                <input ng-model="playerPosition" class="form-control" id="playerPosition">


                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>


                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                    <script src="app/app.js"></script>
                    <script src="app/controller/controller.js"></script>
                    <script src="app/services/data.services.js"></script>
</body>

</html>